.wrapper
    width 80%
    margin 0 auto
    font-size 150%

.stat
    padding 50px
    border-left 5px solid #000
    margin-bottom 100px

.dups
    margin-bottom 100px

.dupFiles
    margin 0

    li
        font-style italic
        font-size 130%
        list-style-type circle

pre
    overflow auto
    max-height 400px

span
    font-weight 600
